<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>后台登陆</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div >
    <h2 align="center">后台登陆</h2>
    <br>
    <br>

  
  <div class="row">
  <div class="col-md-6  col-md-offset-4">
    <%=form_for(:session, url: admin_sessions_path, html:{class:"form_horizontal",role:"form"}) do |f| %>
    <%#=form_for([:admin,:session],html:{class:"form_horizontal",role:"form"}) do |f| %>
        <%=f.label :email%>
        <%=f.text_field :email%>

        <%=f.label :password%>
        <%=f.password_field :password%>

        <%=f.submit "Sign in",class: "btn btn-large btn-primary"%>
    <% end %>

  </div>
</div>
    </div>
  </body>
</html>